@model VinhEdu.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Đăng Nhập - Vinh EDU";
}

 <div class="main-wrapper">
     <div class="main-wrapper">
            <div class="table-display">
                <div class="main-content cell-display">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="left-info animated fadeIn">
                                    <h2 style="color:#f0d56e;font-family: sans-serif;text-transform:uppercase"><i class="fa fa-book"></i>  Đăng nhập vào hệ thống</h2>
                                    <h3 style="color: white;font-weight: 300;">Sổ liên lạc điện tử <span>giữa <strong>Gia đình</strong> và <strong>Nhà trường</strong></span></h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="login-box animated fadeInDown">
                                    <div class="login-box-left"></div>
                                    <div class="login-box-top"></div>
                                    <div class="login-box-cont">
                                        <form method="post" action="/Auth/Login">
                                            <div class="login-box-body">
                                                <div class="text-center text-danger mb-1">@ViewBag.Error</div>
                                                <div class="login-box-cont-left"></div>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    @Html.TextBoxFor(e => e.Identify, new { @class = "form-control", @placeholder ="Tên đăng nhập" })
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    @Html.PasswordFor(e => e.Password, new { @class = "form-control", @placeholder ="Mật khẩu" })
                                                </div>
                                                <div class="form-group">
                                                    <div class="text-right">
                                                        <a href="/quen-mat-khau"> Quên mật khẩu <i class="fa icon-question-circle"></i></a>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="validate" style="display: none;">
                                                </div>

                                                <div class="form-group text-center">
                                                    <button type="submit" class="btn btn-primary block">Đăng nhập</button>
                                                </div>
                                                <div class="login-box-cont-right"></div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <style>
        .circle {
            border-radius: 50%;
            margin: 0.15em;
            font-size: 0.75em;
        }

        .fa-twitter {
            background: #4099FF;
            color: #FFFFFF;
            padding: 0.05em 0.07em;
        }

        .fa-google-plus {
            color: #FFFFFF;
            background: #dd4b39;
            padding: 0.1em 0.1em;
        }

        .fa-dribbble {
            color: #ea4c89;
        }

        .fa-pinterest {
            color: #cb2027;
        }

        .fa-facebook {
            background: #3f72bf;
            color: #f0d46d;
            padding: 0.05em 0.3em;
        }

        .fa-phone {
            background: #3f72bf;
            color: #f0d46d;
            padding: 0.05em 0.2em;
        }

        .fa-youtube {
            background: #bb0000;
            color: #FFFFFF;
            padding: 0.25em 0.25em;
        }
    </style>