
@{
    ViewBag.Title = "Dashboard trang chủ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<style>
    .content {
        background-image: url('../../Content/images/footer.png');
        min-height: 620px;
    }
</style>

