
@{
    ViewBag.Title = "PointBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_PartialGrid")
<div class="container-fluid" style="margin-top:15px;padding-top:15px;">
    <h3>Xem điểm @ViewBag.ClassName - @ViewBag.Semester</h3>
    <input type="hidden" id="ClassID" value="@ViewBag.ClassID" />
    <div id="myGrid" style="height: 600px;width:100%;" class="ag-theme-balham"></div>

</div>

<script>
    // specify the columns
    var columnDefs = [
        { headerName: "Môn Học", field: "SubjectName", editable: false, resizable: true, suppressSizeToFit: true },
        {
            headerName: "M1",
            field: "Score.M1",
            editable: false, resizable: true,
        },
        {
            headerName: "M2",
            field: "Score.M2",
            editable: false, resizable: true,
        },
        {
            headerName: "M3",
            field: "Score.M3",
            editable: false, resizable: true,
        },
        {
            headerName: "M4",
            field: "Score.M4",
            editable: false, resizable: true,
        },
        {
            headerName: "P1",
            field: "Score.P1",
            editable: false, resizable: true,
        },
        {
            headerName: "P2",
            field: "Score.P2",
            editable: false, resizable: true,
        },
        {
            headerName: "P3",
            field: "Score.P3",
            editable: false, resizable: true,
        },
        {
            headerName: "T1",
            field: "Score.T1",
            editable: false, resizable: true,
        },
        {
            headerName: "T2",
            field: "Score.T2",
            editable: false, resizable: true,
        },
        {
            headerName: "T3",
            field: "Score.T3",
            editable: false, resizable: true,
        },
        {
            headerName: "K1",
            field: "Score.K1",
            editable: false, resizable: true,
        },
        {
            headerName: "TK",
            field: "Score.TK",
            editable: false, resizable: true,
        },
    ];

    // specify the data
    var rowData = [];

    // let the grid know which columns and what data to use
    var gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        rowSelection: 'single',
        headerHeight: '28px'
    };
    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector('#myGrid');

    // create the grid passing in the div to use together with the columns & data we want to use
    new agGrid.Grid(eGridDiv, gridOptions);
</script>
<script>
    var ClassID = $('#ClassID').val();
    $(document).ready(function () {
        GetData();
    });
    /*
     * Hàm ajax lấy dữ liệu từ server về, 
     */
    function GetData() {
        ClassID = $('#ClassID').val();
        axios.get('/Student/GetCurrentPointBoard').then(resp => {
            ClearData();
            resp.data.forEach((e) => {
                let hs = {
                    ...e, Score: e.Score ? e.Score : {
                        M1: 'x',
                        M2: 'x',
                        M3: 'x',
                        M4: 'x',
                        P1: 'x',
                        P2: 'x',
                        P3: 'x',
                        T1: 'x',
                        T2: 'x',
                        T3: 'x',
                        K1: 'x',
                        TK: 'x',
                    }
                };
                let finalScore = calculateScore(hs.Score);
                hs.Score.TK = finalScore;
                gridOptions.api.updateRowData({ add: [hs] });
            });
            gridOptions.api.sizeColumnsToFit();
        }).catch((e) => {
            swal('Lỗi', 'Lỗi hệ thống', 'error');
        });
    }
    /*
     * Hàm tính điểm tổng kết, làm tròn 2 con số
     */
    function calculateScore(score) {
        let tk = 'x'
        checkM = score.M1 != 'x' || score.M2 != 'x'|| score.M3  != 'x' || score.M4 != 'x';
        checkP = score.P1 != 'x'&& score.P2 != 'x' && score.P3 != 'x';
        checkT = score.T1 != 'x' && score.T2 != 'x' && score.T3 != 'x' && score.T4 != 'x';
        checkHK = score.K1 != 'x';

        if (checkHK && checkM && checkP && checkT) {
            let x1Score = [score.M1, score.M2, score.M3, score.M4, score.P1, score.P2, score.P3];
            let x2Score = [score.T1, score.T2, score.T3, score.K1];
            let scoreCount = 0;
            const reducer = (accumulator, currentValue) => {
                if (currentValue != 'x') {
                    scoreCount++;
                    return parseFloat(currentValue) + accumulator;
                }
                return accumulator;
            };
            let countX1 = x1Score.reduce(reducer, 0);
            let countX2 = x2Score.reduce(reducer, 0);
            tk = countX1 + countX2 + parseFloat(score.K1);
            return (parseFloat(tk).toFixed(2) / scoreCount);
        }
        return 'x';
    }
    /*
     * Hàm xóa dữ liệu
     */
    function ClearData() {
        gridOptions.api.setRowData([]);
    }
    function getAllRows() {
        let rowData = [];
        gridOptions.api.forEachNode(node => rowData.push(node.data));
        return rowData;
    }
</script>
