@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_PartialGrid")
<div class="container-fluid" style="margin-top:15px;padding-top:15px;">
    <h3>Quản lý điểm lớp @ViewBag.ClassName</h3>
    <div class="card-header">
        <div class="row mb-2">
             <button class="btn btn-outline-warning float-right" onclick="Submit()">Cập nhật</button>
        </div>
    </div>
    <input type="hidden" id="ClassID" value="@ViewBag.ClassID"/>
    <div id="myGrid" style="height: 400px;width:100%;" class="ag-theme-balham"></div>

</div>

<script>
    // specify the columns
    var columnDefs = [
        { headerName: "StudentID", field: "StudentID", hide: true, editable: false, resizable: true },
        { headerName: "Học sinh", field: "StudentName", editable: false, resizable: true,suppressSizeToFit: true },
        {
            headerName: "M1",
            field: "Score.M1",
            editable: true, resizable: true,
        },
        {
            headerName: "M2",
            field: "Score.M2",
            editable: true, resizable: true,
        },
        {
            headerName: "M3",
            field: "Score.M3",
            editable: true, resizable: true,
        },
        {
            headerName: "M4",
            field: "Score.M4",
            editable: true, resizable: true,
        },
        {
            headerName: "P1",
            field: "Score.P1",
            editable: false, resizable: true,
        },
        {
            headerName: "P2",
            field: "Score.P2",
            editable: false, resizable: true,
        },
        {
            headerName: "P3",
            field: "Score.P3",
            editable: false, resizable: true,
        },
        {
            headerName: "T1",
            field: "Score.T1",
            editable: true, resizable: true,
        },
        {
            headerName: "T2",
            field: "Score.T2",
            editable: true, resizable: true,
        },
        {
            headerName: "T3",
            field: "Score.T3",
            editable: true, resizable: true,
        },
        {
            headerName: "K1",
            field: "Score.K1",
            editable: true, resizable: true,
        },
    ];

    // specify the data
    var rowData = [];

    // let the grid know which columns and what data to use
    var gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        rowSelection: 'single',
        headerHeight: '28px'
    };
    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector('#myGrid');

    // create the grid passing in the div to use together with the columns & data we want to use
    new agGrid.Grid(eGridDiv, gridOptions);
</script>
<script>
    var ClassID = $('#ClassID').val();
    var Mark = {
        StudentID: -1,
        StudentName: '',
        Score: {
            M1: -1,
            M2: -1,
            M3: -1,
            M4: -1,
            P1: 'x',
            P2: 'x',
            P3: 'x',
            T1: -1,
            T2: -1,
            T3: -1,
            K1: -1,
        }
    };
    $(document).ready(function () {
        GetData();
    });
    function GetData() {
        ClassID = $('#ClassID').val();
        axios.get('/Teacher/GetStudentMark?ClassID=' + ClassID).then(resp => {
            ClearData();
            resp.data.forEach((e) => {
                let hs = {
                    ...e, Score: e.Score ? e.Score : {
                        M1: 'x',
                        M2: 'x',
                        M3: 'x',
                        M4: 'x',
                        P1: 'x',
                        P2: 'x',
                        P3: 'x',
                        T1: 'x',
                        T2: 'x',
                        T3: 'x',
                        K1: 'x',
                    }
                };
                gridOptions.api.updateRowData({ add: [hs] });
            });
            gridOptions.api.sizeColumnsToFit();
        }).catch((e) => {
            swal('Lỗi', 'Lỗi hệ thống', 'error');
        })
    }
    function ClearData() {
        gridOptions.api.setRowData([]);
    }
    function Submit() {
        axios.post('/Teacher/UpdateStudentMark', { ClassID: ClassID, Listmark: getAllRows() }).then(resp => {
            let data = resp.data;
            if (data.Success) {
                swal('Thành công', data.Message, 'success');
                ClearData();
                gridOptions.api.setRowData(data.Member);
            }
            else {
                swal('Thất bại',data.Message,'warning')
            }
        })
    }
    function getAllRows() {
        let rowData = [];
        gridOptions.api.forEachNode(node => rowData.push(node.data));
        return rowData;
    }
</script>
